<launch>
  <node pkg="kinect_merger" type="point_cloud_merger" name="point_cloud_merger_1" output="screen">
    <param name="cloud_in_1"  value="/kinect1/sd/points" />
    <param name="cloud_in_2"  value="/kinect2/sd/points" />
    <param name="cloud_out"  value="/merged_cloud" />
  </node>

  <node pkg="kinect_merger" type="point_cloud_merger" name="point_cloud_merger_2" output="screen">
    <param name="cloud_in_1"  value="/merged_cloud" />
    <param name="cloud_in_2"  value="/kinect3/sd/points" />
    <param name="cloud_out"  value="/merged_cloud2" />
  </node>

  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.05" />
    <param name="frame_id" type="string" value="base_link" />
    <param name="sensor_model/max_range" value="5.0" />
    <remap from="cloud_in" to="/merged_cloud2" />
  </node>

</launch>
